%p
    =link_to('Home', root_path) 
    \/ Albums
- if @albums.blank? 
    - if @searchType == "1"
        %h1 Failed to find any album containing "#{@search}" :(
- elsif @searchType == "1"
    %h1 Albums containing "#{@search}"
    
    %table#albums.table.table-striped
        %thead.thead-dark
            %th Artist 
            %th Album Title
            %th Total Runtime
            %th Release Date
            %th Label
            %th Genre
        %tbody
            - @albums.each do |album|
                %tr
                    %td= link_to album.artist.name, artist_path(album.artist)
                    %td= link_to album.name, album_path(album)
                    %td= album.total_time
                    %td= album.release_date
                    %td= album.label
                    %td= album.genre.name


- if @artists.blank?
    - if @searchType == "2"
        %h1 Failed to find any artist containing "#{@search}" :(
- elsif @searchType == "2"
    %h1 Artists containing "#{@search}"
                
    %ul
        - @artists.each do |artist|
            %li= link_to artist.name, artist_path(artist)