.container
    .row
        .col-md-12
            %h3 Recent Albums
            
    .row.justify-content-center
        .card-deck.col-md-12
            - i = 0
            - @recent_album.each do |album|
                .card
                    =image_tag @recent_album_art_array[i]
                    - i += 1
                    .card-header
                        // Header
                        %i.fas.fa-star
                        %i.fas.fa-star
                        %i.fas.fa-star
                        %i.fas.fa-star-half
                    .card-body
                        %h5.card-title
                            %a 
                            = link_to album.name, album_path(album)
                        %p.card-text
                            By: 
                            %a
                            = link_to album.artist.name, artist_path(album.artist)
                        
                    .card-footer.text-muted
                        Added
                        = time_ago_in_words(album.updated_at)
                        ago

    .row
        .col-md-12
            %h3 Recent Ratings
    
    .row.justify-content-center
        .card-deck.col-md-12
            - i = 0
            - @recent_album_rating.each do |album|
                .card{:style => '18rem'}
                    =image_tag @recent_album_rating_art_array[i]
                    - i += 1
                    .card-header
                        // Header
                        %i.fas.fa-star
                        %i.fas.fa-star
                        %i.fas.fa-star
                        %i.fas.fa-star-half
                    .card-body
                        %h5.card-title
                            = link_to album.name, album_path(album)
                        %p.card-text
                            %strong 
                                By: 
                                = link_to album.artist.name, artist_path(album.artist)
                            %br
                            %strong
                                Label: 
                                =album.label
                    .card-footer.text-muted
                        Rated 
                        = time_ago_in_words(album.updated_at)
                        ago
