%nav.breadcrumbs{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
        %li.breadcrumb-item
            =link_to('Home', root_path) 
        %li.breadcrumb-item
            Albums

.container
    .row
        .col-md-12
            %h1 All Albums

            // %table#albums
            %table.table.table-striped#album-table
                %thead.thead-dark
                    %tr
                        %th Artist 
                        %th Album Title
                        %th Runtime
                        %th Released
                        %th Genre
                %tbody
                    - @albums.each do |album|
                        %tr
                            %td= link_to album.artist.name, artist_path(album.artist)
                            %td= link_to album.name, album_path(album)
                            %td= album.total_time
                            %td= album.release_date
                            %td= album.genre.name
