
%nav.breadcrumbs{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
        %li.breadcrumb-item
            =link_to('Home', root_path) 
        %li.breadcrumb-item
            =link_to(@album.artist.name, artist_path(@album.artist))
        %li.breadcrumb-item.active{"aria-current" => "page"}
            =@album.name
%h1= @album.name

.container 
    .row
        .col-md-6
            %h3 
                Average Rating:
                %i.fas.fa-star
                %i.fas.fa-star
                %i.fas.fa-star
                %i.fas.fa-star-half
            
            %ul.list-group
                %li.list-group-item
                    %strong Artist Name:
                    = @album.artist.name
                
                %li.list-group-item
                    %strong Album Name:
                    = @album.name
                
                %li.list-group-item
                    %strong Duration:
                    = @album.total_time
                
                %li.list-group-item
                    %strong Release Date:
                    = @album.release_date
                
                %li.list-group-item
                    %strong Label:
                    = @album.label
                
                %li.list-group-item
                    %strong Genre Name:
                    = @album.genre.name
            
            %h3 Ratings
            %table.table.table-striped
                %thead.thead-light
                    %th User
                    %th Rating
                    %th Last Updated
                %tbody
                    - @ratings.each do |rating|
                        %tr
                            %td= rating.user.username
                            %td= rating.rating
                            %td= rating.updated_at
        .col-md-6
            %h2 Cover Art
            =image_tag @coverUrl
    .row
        .col-md-12
            %h2 Tracks
            %table.table.table-striped
                %thead.thead-dark
                    %th #
                    %th Title
                    %th Duration
                %tbody
                    - @tracks.each do |track|
                        %tr
                            %td= track[0]
                            %td= track[1]
                            %td= track[2]
            