%h1= @album.name

%table#container
    %tr
        %td
            %h2 Average Rating: #{@avgRating}
            %h2 Album Info
            %table#albums
                %tbody
                    %tr
                        %td 
                            %strong Artist Name
                        %td= @album.artist.name
                    %tr
                        %td 
                            %strong Album Name
                        %td= @album.name
                    %tr
                        %td 
                            %strong Duration
                        %td= @album.total_time
                    %tr
                        %td 
                            %strong Release Date
                        %td= @album.release_date
                    %tr 
                        %td 
                            %strong Label
                        %td= @album.label
                    %tr
                        %td 
                            %strong Genre Name
                        %td= @album.genre.name
            
            %h2 Tracks
            // %p= debug(@tracks)  
            
            // - @tracks.each do |track|
            //     %p= track["title"]
            %table#tracks
                %thead
                    %th #
                    %th Title
                    %th Duration
                %tbody
                    - @tracks.each do |track|
                        %tr
                            %td= track[0]
                            %td= track[1]
                            %td= track[2]
                    
        %td
            %h2 Cover Art
            =image_tag @coverUrl
            
            %h2 Ratings
            %table#ratings
                %thead
                    %th User
                    %th Rating
                    %th Last Updated
                %tbody
                    - @ratings.each do |rating|
                        %tr
                            %td= rating.user.username
                            %td= rating.rating
                            %td= rating.updated_at