.sidenav

    %nav.nav.flex-column.nav-pills
        %a.navbar-brand{:href => "#"}
            MasterRater
        %a.nav-link.active{:href => "#"}
            Active
        %a.nav-link{:href => "#"}
            Link
        %a.nav-link{:href => "#"}
            Link2
.main
    %nav.breadcrumbs{"aria-label" => "breadcrumb"}
        %ol.breadcrumb
            %li.breadcrumb-item
                =link_to('Home', root_path) 
            %li.breadcrumb-item
                =link_to(@album.artist.name, artist_path(@album.artist))
            %li.breadcrumb-item.active{"aria-current" => "page"}
                =@album.name
    %h1= @album.name
    
    .container 
        .row
            .col-md-6
                %h2 Average Rating: #{@avgRating}
                %h2 Album Info

                .panel.panel-default
                    .panel-body
                    
                    %strong Artist Name
                    = @album.artist.name
                    
                    %strong 
                        Album Name
                        = @album.name
            
                    %strong 
                        Duration
                        = @album.total_time
                
            //     %strong 
            //         Release Date
            //         = @album.release_date
            
            //     %strong 
            //         Label
            //         = @album.label
            
            //     %strong 
            //         Genre Name
            //         = @album.genre.name
            // .col-md-6
            
            //     %h2 Tracks

            //     %table#tracks
            //         %thead
            //             %th #
            //             %th Title
            //             %th Duration
            //         %tbody
            //             - @tracks.each do |track|
            //                 %tr
            //                     %td= track[0]
            //                     %td= track[1]
            //                     %td= track[2]
                        
            // %td
            //     %h2 Cover Art
            //     =image_tag @coverUrl
                
            //     %h2 Ratings
            //     %table#ratings
            //         %thead
            //             %th User
            //             %th Rating
            //             %th Last Updated
            //         %tbody
            //             - @ratings.each do |rating|
            //                 %tr
            //                     %td= rating.user.username
            //                     %td= rating.rating
            //                     %td= rating.updated_at