!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MasterRater
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:rel =>"stylesheet", :href =>"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
          :integrity =>"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
          :crossorigin => "anonymous"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
            :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",
            :crossorigin => "anonymous"}
          
    %script{:src =>"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", 
          :integrity =>"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
          :crossorigin => "anonymous"}
    %link{:rel => "stylesheet", :href =>"https://use.fontawesome.com/releases/v5.0.9/css/all.css",
    :integrity => "sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1",
    :crossorigin =>"anonymous"}
  %body
  .sidenav
    %nav.nav.flex-column.nav-pills
      %a.nav-link{:href => "/"}
        MasterRater
      %a.nav-link{:href => "/albums"}
        Albums
      %a.nav-link{:href => "/artists"}
        Artists
      %a.nav-link{:href => "javascript:showModal()"}
        Search
    .bottom
      .bottom-content
        = render :partial => 'sessions/login'
      
  .main
    - if flash[:notice]
      %div.alert.alert-info.alert-dismissable{:role => "alert"}
        %button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
          %span{"aria-hidden" => "true"}
            &times;
        =flash[:notice]
    
    .searchModal{:id => "modal"}
      %a{:href => "#", :id => "close", :onclick => "closeModal()"}
        X
      %br
      %form_tag
        = form_tag(search_index_path, :method => "get", id: "search-form") do
          = text_field_tag :search, params[:search], placeholder: "Search Albums"
          // :name = > "xxx" to be used to determine which button was pressed
          // https://stackoverflow.com/questions/3332449/rails-multi-submit-buttons-in-one-form
          = submit_tag "ðŸ”", :name => "AlbumSearch", :class => "button"
          // = submit_tag "Search Artists", :name => "ArtistSearch"
    = yield
