!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MasterRater
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:rel =>"stylesheet", :href =>"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
          :integrity =>"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
          :crossorigin => "anonymous"}
    %script{:src =>"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", 
          :integrity =>"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
          :crossorigin => "anonymous"}
    %link{:rel => "stylesheet", :href =>"https://use.fontawesome.com/releases/v5.0.9/css/all.css",
    :integrity => "sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1",
    :crossorigin =>"anonymous"}
  %body
  .sidenav
    %nav.nav.flex-column.nav-pills
      %a.navbar-brand{:href => "/"}
        MasterRater
      %form_tag
        = form_tag(search_index_path, :method => "get", id: "search-form") do
          = text_field_tag :search, params[:search], placeholder: "Search Albums"
          = submit_tag "Search", :name => nil
      %a.nav-link.active{:href => "#"}
        Active
      %a.nav-link{:href => "/albums"}
        Albums
      %a.nav-link{:href => "/artists"}
        Artists
  .main
    = yield
